/*Se importa tipografia desde google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/*Paleta de colores*/
:root {
    --color-main: #A02014;
    --color-main-light: #e7948c;
    --color-white: #ececec;
    --color-gray: #e2e2e2;
    --color-red: #961818;
}

/*Reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*Contenedor principal*/
.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--color-main);
}

/*Aside*/
aside{
    padding: 2rem;
    padding-right: 0;
    color: var(--color-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Aside - Logo*/
.logo, .logo-aside{
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--color-white);
    margin-left: 1.5rem;
    padding-top: 2rem;
}

/*Aside - Menu*/
.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active{
    background-color: var(--color-white);
    color: var(--color-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--color-white);
}

.boton-menu.active::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--color-white);
}

.boton-categoria > i.bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

/*Aside - Seccion Carrito*/
.boton-carrito{
    margin-top: 2rem;   
}

.numerito{
    background-color: var(--color-white);
    color: var(--color-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito{
    background-color: var(--color-main);
    color: var(--color-white);
}

/*Aside - footer*/
.texto-footer{
    color: var(--color-white);
    font-size: .85rem;
}

/*Main*/
main{
    background-color: var(--color-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal{
    color: var(--color-main);
    margin-bottom: 2rem;
}

/*Main - Productos*/
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--color-main);
    color: var(--color-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: var(--color-white);
    color: var(--color-main);
    padding: .25rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--color-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
    background-color: var(--color-main);
    color: var(--color-white);
}

/*Carrito*/

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio, 
.carrito-comprado{
    color: var(--color-main);
    
}

/*Carrito - Productos*/
.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    background-color: var(--color-gray);
    color: var(--color-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.carrito-producto-titulos{
    grid-area: 1 / 2 / 2 / 4;
    
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--color-red);
    cursor: pointer;
    font-size: 1.5rem;

}

/*Carrito - Total de la compra y opcion de vaciar el carrito o finalizar la compra*/
.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--color-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    border: 0;
    background-color: var(--color-gray);
    padding: 1rem;
    color: var(--color-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar{
    border: 0;
    background-color: var(--color-main);
    padding: 1rem;
    color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/*Se oculta para version escritorio aquellas etiquetas relacionadas con dispositivos moviles*/

.header-mobile{
    display: none;
}

.close-menu{
    display: none;
}

.disabled{
    display: none;
}


/*Media query para dispositivos moviles*/
@media screen and (max-width: 800px){
    /*Contenedor principal*/
    .contenedor{
        min-height: 100vh;
        display: flex;
        flex-direction: column;  
    }

    /*Aside*/
    aside{
        position: fixed;
        z-index: 9;
        background-color: var(--color-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
         
    }

    .boton-menu.active::before,
    .boton-menu.active::after{
        display: none;
    }

    /*Header para dispositivos moviles*/
    .header-mobile{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: var(--color-main);
        z-index: 1;
        position: fixed;
        width: 100%;
    }
    
    .header-mobile .logo{
        color: var(--color-gray);
    }

    /*Menu*/

    .logo-aside{
        margin: 0;
        padding: 0;
    }
    .open-menu, .close-menu{
        background-color: transparent;
        color: var(--color-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu{
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }
    
    footer{
        padding-right: 1.5rem;
    }

    /*Main*/
    main{
        margin: 1rem;
        padding: 2rem;
        margin-top: 6.5rem;
        text-align: center;
    }

    /*Main - Productos*/
    .contenedor-productos{
        grid-template-columns: 1fr;
    }

    /*Carrito*/
    .carrito-producto{
        display: block;
        font-size: 1rem;
    }

    .carrito-producto-imagen{
        width: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .carrito-producto-eliminar{
        font-size: 2rem;
        margin-top: 2rem;
    }

    .carrito-acciones{
        flex-direction: column;
        row-gap: 1rem;
    }

}